.contenedor-cotizador {
  
    width: 800px;
    height: 450px;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    background-color: white;
    text-align: center;
    border-color: whitesmoke;
    box-shadow: 26px 28px 15px -8px rgba(0,0,0,0.15);
    border-radius: 0.7rem;
}